<div class="content-wrapper">
  <div class="card">
    <div class="card-content">
      <div class="tournament-grid">
        <div>
          <h1>
            <i class="fas fa-trophy symbol-small"></i> Tabelle</h1>
          <div class="standings">
            <table class="tournament-table standings-table">
              <tr>
                <th>Rang</th>
                <th>Spieler</th>
                <th>T</th>
                <th>GT</th>
                <th>Tordiff</th>
                <th>Punkte</th>
              </tr>
              <tr>
                <td>1</td>
                <td>
                  <label class="chris">Chris</label>
                </td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <label class="timo">Timo</label>
                </td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  <label class="julien">Julien</label>
                </td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>4</td>
                <td>
                  <label class="flo">Flo</label>
                </td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <label class="bene">Bene</label>
                </td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </table>
          </div>
        </div>
        <div>
          <h1 class="h1-right">
            <i class="fas fa-futbol symbol-small"></i> Teams</h1>
          <table class="tournament-table teams-table">
            <tr>
              <th>Spieler</th>
              <th>Team Hinrunde</th>
              <th>Team Rückrunde</th>
            </tr>
            <tr>
              <td>
                <label class="chris">Chris</label>
              </td>
              <td>
                <input type="text" value="" (blur)="update(team)" class="table-input">
              </td>
              <td>
                <input type="text" value="" (blur)="update(team)" class="table-input">
              </td>
            </tr>
            <tr>
              <td>
                <label class="timo">Timo</label>
              </td>
              <td>
                <input type="text" value="" (blur)="update(team)" class="table-input">
              </td>
              <td>
                <input type="text" value="" (blur)="update(team)" class="table-input">
              </td>
            </tr>
            <tr>
              <td>
                <label class="julien">Julien</label>
              </td>
              <td>
                <input type="text" value="" (blur)="update(team)" class="table-input">
              </td>
              <td>
                <input type="text" value="" (blur)="update(team)" class="table-input">
              </td>
            </tr>
            <tr>
              <td>
                <label class="flo">Flo</label>
              </td>
              <td>
                <input type="text" value="" (blur)="update(team)" class="table-input">
              </td>
              <td>
                <input type="text" value="" (blur)="update(team)" class="table-input">
              </td>
            </tr>
            <tr>
              <td>
                <label class="bene">Bene</label>
              </td>
              <td>
                <input type="text" value="" (blur)="update(team)" class="table-input">
              </td>
              <td>
                <input type="text" value="" (blur)="update(team)" class="table-input">
              </td>
            </tr>
          </table>
        </div>
        <div>
          
          <h1 class="h1-rowTwo">
            <i class="fas fa-list-alt"></i> Hinrunde</h1>
          <table class="tournament-table roster-table">
            <tr>
              <th>
                Nr
              </th>
              <th>
                Spieler 1
              </th>
              <th>
              </th>
              <th>
                Spieler 2
              </th>
              <th>
                Tore
              </th>
              <th>
              </th>
              <th>
                Tore
              </th>
              <th>
                Pause
              </th>
            </tr>
            <tr>
              <td>
                1
              </td>
              <td>
                <label class="chris">Chris</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="timo">Timo</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="bene">Bene</label>
              </td>
            </tr>
            <tr>
              <td>
                2
              </td>
              <td>
                <label class="flo">Flo</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="julien">Julien</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="bene">Bene</label>
              </td>
            </tr>
            <tr>
              <td>
                3
              </td>
              <td>
                <label class="julien">Julien</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="bene">Bene</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="timo">Timo</label>
              </td>
            </tr>
            <tr>
              <td>
                4
              </td>
              <td>
                <label class="chris">Chris</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="flo">Flo</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="timo">Timo</label>
              </td>
            </tr>
            <tr>
              <td>
                5
              </td>
              <td>
                <label class="timo">Timo</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="flo">Flo</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="julien">Julien</label>
              </td>
            </tr>
            <tr>
              <td>
                6
              </td>
              <td>
                <label class="chris">Chris</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="bene">Bene</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="julien">Julien</label>
              </td>
            </tr>
            <tr>
              <td>
                7
              </td>
              <td>
                <label class="chris">Chris</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="julien">Julien</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="flo">Flo</label>
              </td>
            </tr>
            <tr>
              <td>
                8
              </td>
              <td>
                <label class="timo">Timo</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="bene">Bene</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="flo">Flo</label>
              </td>
            </tr>
            <tr>
              <td>
                9
              </td>
              <td>
                <label class="julien">Julien</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="timo">Timo</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="chris">Chris</label>
              </td>
            </tr>
            <tr>
              <td>
                10
              </td>
              <td>
                <label class="flo">Flo</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="bene">Bene</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="chris">Chris</label>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <h1 class="h1-rowTwo h1-right">
            <i class="fas fa-list-alt"></i> Rückrunde</h1>
          <table class="tournament-table roster-table rost-table-right">
            <tr>
              <th>
                Nr
              </th>
              <th>
                Spieler 1
              </th>
              <th>
              </th>
              <th>
                Spieler 2
              </th>
              <th>
                Tore
              </th>
              <th>
              </th>
              <th>
                Tore
              </th>
              <th>
                Pause
              </th>
            </tr>
            <tr>
              <td>
                11
              </td>
              <td>
                <label class="chris">Chris</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="timo">Timo</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="bene">Bene</label>
              </td>
            </tr>
            <tr>
              <td>
                12
              </td>
              <td>
                <label class="flo">Flo</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="julien">Julien</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="bene">Bene</label>
              </td>
            </tr>
            <tr>
              <td>
                13
              </td>
              <td>
                <label class="julien">Julien</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="bene">Bene</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="timo">Timo</label>
              </td>
            </tr>
            <tr>
              <td>
                14
              </td>
              <td>
                <label class="chris">Chris</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="flo">Flo</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="timo">Timo</label>
              </td>
            </tr>
            <tr>
              <td>
                15
              </td>
              <td>
                <label class="timo">Timo</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="flo">Flo</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="julien">Julien</label>
              </td>
            </tr>
            <tr>
              <td>
                16
              </td>
              <td>
                <label class="chris">Chris</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="bene">Bene</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="julien">Julien</label>
              </td>
            </tr>
            <tr>
              <td>
                17
              </td>
              <td>
                <label class="chris">Chris</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="julien">Julien</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="flo">Flo</label>
              </td>
            </tr>
            <tr>
              <td>
                18
              </td>
              <td>
                <label class="timo">Timo</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="bene">Bene</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="flo">Flo</label>
              </td>
            </tr>
            <tr>
              <td>
                19
              </td>
              <td>
                <label class="julien">Julien</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="timo">Timo</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="chris">Chris</label>
              </td>
            </tr>
            <tr>
              <td>
                20
              </td>
              <td>
                <label class="flo">Flo</label>
              </td>
              <td>
                vs
              </td>
              <td>
                <label class="bene">Bene</label>
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                :
              </td>
              <td>
                <input type="text" value="" (blur)="updateResult(matchResult)" class="table-input-roster">
              </td>
              <td>
                <label class="chris">Chris</label>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>