.tournament-grid {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.tournament-grid > div {
    display: flex;
    flex-basis: calc(50% - 0px);
    flex-direction: column;
}
.tournament-grid > div > div {
    display: flex;
    flex-direction: row;
}

.table-input {
    width: 100%;
}

.tournament-table{
    background: #1c222c;
    padding: 10px;
}

table.tournament-table td {
    height: 29px;
    text-align: left;
    vertical-align: middle;
}

table.tournament-table th {
    text-align: left;
    color: #1180f0;
}
/*----------------standings-table-styling START-----------*/
.standings-table{
    width: 95%;
}

table.standings-table tr:nth-child(2),
table.standings-table tr:nth-child(4),
table.standings-table tr:nth-child(6)
{
    background-color: #212732;
}
/*----------------standings-table-styling END-------------*/

/*------------------team-table-styling Start--------------*/
.teams-table{
    width: 70%;
}

table.teams-table tr:nth-child(2),
table.teams-table tr:nth-child(4),
table.teams-table tr:nth-child(6)
{
    background-color: #212732;
}
/*------------------team-table-styling END----------------*/

/*----------------roster-table-styling START--------------*/
.roster-table {
    width: 95%;
}

.table-input-roster {
    width: 100%;
    text-align: center;
}

table.roster-table tr:nth-child(2),
table.roster-table tr:nth-child(3),
table.roster-table tr:nth-child(6),
table.roster-table tr:nth-child(7),
table.roster-table tr:nth-child(10),
table.roster-table tr:nth-child(11)
{
    background-color: #212732;
}

table.roster-table th:nth-child(1) {
    width: 9%;
    text-align: center;
}

table.roster-table tr>td:nth-child(1) {
    color: #909090;
    text-align: center;
}

table.roster-table th:nth-child(2) {
    width: 20%;
}

table.roster-table th:nth-child(3) {
    width: 9%;
}

table.roster-table tr>td:nth-child(3) {
    font-style: italic;
    color: #909090;
}

table.roster-table th:nth-child(4) {
    width: 20%;
    text-align: center;
}

table.roster-table tr>td:nth-child(4) {
    text-align: center;
}

table.roster-table th:nth-child(5) {
    width: 10%;
    text-align: center;
}

table.roster-table th:nth-child(6) {
    width: 2%;
    text-align: center;
}

table.roster-table tr>td:nth-child(6) {
    text-align: center;
}

table.roster-table th:nth-child(7) {
    width: 10%;
    text-align: center;
}

table.roster-table th:nth-child(8) {
    width: 20%;
    text-align: center;
}

table.roster-table tr>td:nth-child(8) {
    text-align: center;
}
/*----------------roster-table-styling END----------------*/