<div class="content-wrapper">
  <div class="card">
    <div class="card-content">
      <div class="tournament-top">
        <div class="tournament-top-left">
          <h1>Tabelle</h1>
            <div class="standings">
              <table>
                <tr>
                  <th>Rang</th>
                  <th>Spieler</th>
                  <th>T</th>
                  <th>GT</th>
                  <th>Tordiff</th>
                  <th>Punkte</th>
                <tr>
                <tr>
                  <td>1</td>
                  <td>Spieler 1</td>
                  <td>10</td>
                  <td>2</td>
                  <td>8</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Spieler 2</td>
                  <td>8</td>
                  <td>5</td>
                  <td>3</td>
                  <td>9</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Spieler 3</td>
                  <td>7</td>
                  <td>9</td>
                  <td>-2</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Spieler 4</td>
                  <td>5</td>
                  <td>9</td>
                  <td>-4</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Spieler 5</td>
                  <td>4</td>
                  <td>9</td>
                  <td>-5</td>
                  <td>1</td>
                </tr>
              </table>
            </div>
        </div>
        <div class="tournament-top-right">
          <h1>Teams</h1>
          <table>
            <tr>
              <th>Spieler</th>
              <th>Team</th>
            </tr>
            <tr>
              <td>Spieler 1</td>
              <td>Team 1</td>
            </tr>
            <tr>
                <td>Spieler 2</td>
                <td>Team 2</td>
            </tr>
            <tr>
                <td>Spieler 3</td>
                <td>Team 3</td>
            </tr>
            <tr>
                <td>Spieler 4</td>
                <td>Team 4</td>
            </tr>
            <tr>
                <td>Spieler 5</td>
                <td>Team 5</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="tournament-bottom">
        <div class="tournament-bottom-right">
          bottom right
        </div>
        <div class="tournament-bottom-left">
          bottom left
        </div>
      </div>
    </div>
  </div>
</div>
