.tournament-grid {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .tournament-grid > div {
    display: flex;
    flex-basis: calc(50% - 0px);
    flex-direction: column;
  }
  .tournament-grid > div > div {
    display: flex;
    flex-direction: row;
  }

.tournament-top-left{
    /* background: pink; */
}

.tournament-top-right{
    /* background: green;  */
}

.tournament-bottom-right{
    /* background: blue; */
}

.tournament-bottom-left{
    /* background: red; */
}

.h1-rowTwo {
    margin-top: 20px;
}

.table-input {
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-family: Helvetica;
    background: none;
    border: none;
}

.tournament-table{
    background: #1c222c;
    padding: 10px;
}

table.tournament-table td {
    height: 29px;
    text-align: left;
    vertical-align: middle;
}

table.tournament-table th {
    text-align: left;
    color: #1180f0;
}

.standings-table{
    width: 95%;
}

.teams-table{
    width: 70%;
}

.roster-table {
    width: 95%;
}