html, body {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    font-family: Helvetica;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: #29303f;
}

input {
    display: block;
    border:none;
    background: none;
    border-bottom:1px solid #363f4c;

    color: #fff;
    font-size: 18px;
    font-family: Helvetica;
}
input:focus {
    outline:none;
    caret-color: #1180f0;
    border-bottom:1px solid #1180f0;
}

input:focus ~ label, input:valid ~ label {
    top:-20px;
    font-size:14px;
    color:#5264AE;
}

table {
    border: 1px solid #232a36;
    border-spacing: 0;
}

h1 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 26px;
    color: #909090;
}

.h1-rowTwo {
    margin-top: 20px;
}

.content-wrapper {
    min-width: 900px;
    max-width: 1600px;
    margin-top: 110px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

.card {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.75rem;
    border: 1px solid transparent;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 
    0 6px 6px rgba(0,0,0,0.23);
    background: #151b27;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.card-content {
    height: 715px;
}


